.continer {
  padding: 0 8% 0 8%;
}
.list_grid {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.2rem;
  // background-color: #f4f4f4;
  color: rgba(22, 22, 22, 0.7);
}
hr {
  border: maroon solid 1px;
}
#title {
  margin: 0;
  letter-spacing: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: maroon;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}
.list-name {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.active-list {
  font-weight: 700;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}
.btn.list {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
  &:hover {
    opacity: 0.7;
  }
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid #000;
  font-size: inherit;
  outline: none;
  transition: border-bottom 150ms ease-in;
  .list {
    font-size: 1.1em;
  }
}

.new:focus {
  border-bottom-width: 3px;
}
.new:focus::placeholder {
  opacity: 0.2;
}

.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background: #ccc;
  color: #f4f4f4;
  width: 500px;
  border-radius: 4px;
}

.todo-header {
  border-radius: 4px 4px 0 0;
  padding: var(--spacer);
  background: rgba(128, 0, 0, 0.74);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-title {
  margin: 0 1rem 0 0;
}
.task-count {
  margin: 0;
  font-size: 1rem;
}
.todo-body {
  padding: var(--spacer);
  color: #000;
  line-height: 1.8rem;
}
[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-bottom: 1.5em;
}
.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: maroon;
  opacity: 0.1;
}
.task {
  position: relative;
  margin-bottom: 1.25em;
}
.custome-checkbox {
  display: inline-block;
  width: 0.65em;
  height: 0.65em;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 0.65em;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
.task:hover .custome-checkbox,
[type="checkbox"]:focus + label .custome-checkbox {
  transform: scale(1.2);
  background-color: rgba(128, 0, 0, 0.1);
}
[type="checkbox"]:checked + label .custome-checkbox {
  background: maroon;
  border-color: maroon;
  // box-shadow: inset 0 0 0 0.5px rgb(255, 0, 0);
}
[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: calc(50% - 1.5px);
  height: 3px;
  background: rgb(0, 0, 0);
}
// 51 min https://youtube.com/watch?v=IhmSidOJSeE&t=1890s
