.continer {
  padding: 0 8% 0 8%;
}
.list_grid {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.2rem;
  // background-color: #f4f4f4;
  color: rgba(22, 22, 22, 0.7);
}
hr {
  border: maroon solid 1px;
}
#title {
  margin: 0;
  letter-spacing: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: maroon;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}
.active-list {
  font-weight: 700;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}
.btn.list {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
  &:hover {
    opacity: 0.7;
  }
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid #000;
  font-size: inherit;
  outline: none;
  transition: border-bottom 150ms ease-in;
  .list {
    font-size: 1.1em;
  }
}

.new:focus {
  border-bottom-width: 3px;
}
.new:focus::placeholder {
  opacity: 0.2;
}

/// 31 min https://www.youtube.com/watch?v=IhmSidOJSeE
